[Unit]
Description=NVIDIA IGX SMCU Firmware Version
After=bmc-boot-complete.service

[Service]
Restart=300
Type=dbus
ExecStart=/usr/bin/env igx-smcu-version
SyslogIdentifier=igx-smcu-version
BusName=com.Nvidia.SMCU

[Install]
WantedBy=multi-user.target

