[Unit]
Description=IGX SMCU Flash Code Manager
Wants=pldmd.service
After=pldmd.service
Wants=obmc-mapper.target
After=obmc-mapper.target

[Service]
ExecStart=/usr/bin/code-manager -u SMCU
Restart=always
Type=dbus
BusName=com.Nvidia.Software.SMCU.Updater

[Install]
WantedBy=multi-user.target
