[Unit]
Description=VMEPlayer CPLD update over JTAG
Wants=pldmd.service
After=pldmd.service
Wants=obmc-mapper.target
After=obmc-mapper.target

[Service]
ExecStart=/usr/bin/code-manager -u VMEPLAYER
Restart=always
Type=dbus
BusName=com.Nvidia.Software.Vmeplayer.Updater

[Install]
WantedBy=multi-user.target
