[Unit]
Description=OpenBMC fpga1 MTD Code Manager
Wants=pldmd.service
After=pldmd.service
Wants=obmc-mapper.target
After=obmc-mapper.target

[Service]
ExecStart=/usr/bin/code-manager -u MTD -i fpga1 -m FPGA_MODEL 
Restart=always
Type=dbus
BusName=com.Nvidia.Software.MTD.Updater.fpga1

[Install]
WantedBy=multi-user.target
