[Unit]
Description=OpenBMC PSU Code Manager
Wants=pldmd.service
After=pldmd.service
Wants=obmc-mapper.target
After=obmc-mapper.target

[Service]
ExecStart=/usr/bin/code-manager -u PSU
Restart=always
Type=dbus
BusName=com.Nvidia.Software.PSU.Updater

[Install]
WantedBy=multi-user.target
