[Unit]
Description=Fuse switchtec pcie switch
Wants=pldmd.service
After=pldmd.service
Wants=obmc-mapper.target
After=obmc-mapper.target
Wants=xyz.openbmc_project.EntityManager.service
After=xyz.openbmc_project.EntityManager.service
After=mapper-wait@-xyz-openbmc_project-inventory-system-bmc-BMC_0-MUX_2.service

[Service]
ExecStart=/usr/bin/code-manager -u SWITCHTEC
Restart=always
TimeoutStartSec=180
Type=dbus
BusName=com.Nvidia.Software.Switchtec.Updater

[Install]
WantedBy=multi-user.target
