[Unit]
Description=OpenBMC Debug Token Install Updater
Wants=spdmd.service
After=spdmd.service

[Service]
ExecStart=/usr/bin/code-manager -u DebugTokenInstall
Restart=always
Type=dbus
BusName=com.Nvidia.Software.DebugTokenInstall.Updater

[Install]
WantedBy=multi-user.target
