[Unit]
Description=OpenBMC RT Code Manager
After=nvidia-fpga-ready.target
Conflicts=nvidia-fpga-notready.target
Wants=pldmd.service
After=pldmd.service
Wants=obmc-mapper.target
After=obmc-mapper.target

[Service]
ExecStart=/usr/bin/code-manager -u Retimer
Restart=always
Type=dbus
BusName=com.Nvidia.Software.RT.Updater

[Install]
WantedBy=nvidia-fpga-ready.target
