[Unit]
Description=Nvidia FW Status service
Requires=xyz.openbmc_project.EntityManager
After=xyz.openbmc_project.EntityManager
Wants=xyz.openbmc_project.EntityManager

[Service]
Type=dbus
BusName=com.Nvidia.FWStatus
Restart=always
ExecStart=/usr/bin/fw-status
ExecStartPre=/usr/bin/sleep 60

[Install]
WantedBy=multi-user.target
