[Unit]
Description=Nvidia FW Status service

[Service]
Type=dbus
BusName=com.Nvidia.FWStatus
Restart=always
ExecStart=/usr/bin/fw-status

[Install]
WantedBy=multi-user.target
