[Unit]
Description=OpenBMC Code Manager for IGX Fusing
Wants=pldmd.service
After=pldmd.service
Wants=obmc-mapper.target
After=obmc-mapper.target

[Service]
ExecStart=/usr/bin/code-manager -u IGXFUSE
Restart=always
Type=dbus
BusName=com.Nvidia.Software.IGXFUSE.Updater

[Install]
WantedBy=multi-user.target
