[Unit]
Description=OpenBMC Orin Flash Code Manager
Wants=pldmd.service
After=pldmd.service
Wants=obmc-mapper.target
After=obmc-mapper.target

[Service]
ExecStart=/usr/bin/code-manager -u ORIN
Restart=always
Type=dbus
BusName=com.Nvidia.Software.ORIN.Updater

[Install]
WantedBy=multi-user.target
