[Unit]
Description=Nvidia Flashrom Wrapper service
Wants=xyz.openbmc_project.EntityManager
After=xyz.openbmc_project.EntityManager
Wants=nvidia-emmc-partition.service
After=nvidia-emmc-partition.service

[Service]
Type=dbus
BusName=com.Nvidia.FlashromWrapper
Restart=always
RestartSec=30
ExecStart=/usr/bin/flashrom-wrapper

[Install]
WantedBy=multi-user.target
