[Unit]
Description=ConnectX Recovery Updater
Wants=pldmd.service
After=pldmd.service

[Service]
ExecStart=/usr/bin/code-manager -u ConnectXRecovery
Restart=always
Type=dbus
BusName=com.Nvidia.Software.ConnectXRecovery.Updater

[Install]
# This should require run power
WantedBy=multi-user.target
