[Unit]
Description=OpenBMC CPLD Code Manager
Wants=pldmd.service
After=pldmd.service
Wants=obmc-mapper.target
After=obmc-mapper.target

[Service]
ExecStart=/usr/bin/code-manager -u CPLD
Restart=always
Type=dbus
BusName=com.Nvidia.Software.CPLD.Updater

[Install]
WantedBy=multi-user.target
