[Unit]
Description=Update CPLD %I

[Service]
Type=oneshot
RemainAfterExit=no
Environment="ARGS=%I"
ExecStart=/bin/sh -c '\
    CHECK_ARGS=\"$ARGS\";\
    ARGS=$(echo \"$ARGS\" | sed \'s/ [^ ]*$//\');\
    if [[ \"$CHECK_ARGS\" =~ IGNORE$ ]] ; then\
        echo \"cpld-update (IGNORE) $ARGS\";\
    else\
        cpldupdate $ARGS /usr/share/nvidia-power-manager/cpld_config.json;\
    fi;\
    '
