[Unit]
Description=Update CPLD %I

[Service]
Type=oneshot
RemainAfterExit=no
Environment="ARGS=%I"
ExecStart=/bin/sh -c '\
  case "$ARGS" in\
    *" IGNORE")\
      CHECK_ARGS="$${ARGS%% IGNORE}";\
      echo "cpld-update (IGNORE) $CHECK_ARGS";;\
    *" EXECUTE")\
      CHECK_ARGS="$${ARGS%% EXECUTE}";\
      cpldupdate $CHECK_ARGS /usr/share/nvidia-power-manager/cpld_config.json;;\
    *)\
      cpldupdate $ARGS;;\
  esac\
  '
