[Unit]
Description=Update mtd partition

[Service]
Type=oneshot
RemainAfterExit=no
Environment="ARGS=%I"
ExecStart=/bin/sh -c '\
    CHECK_ARGS=\"$ARGS\";\
    ARGS=$(echo \"$ARGS\" | sed \'s/ [^ ]*$//\');\
    if [[ \"$CHECK_ARGS\" =~ IGNORE$ ]] ; then\
        echo \"mtd-update (IGNORE) $ARGS\";\
    else\
        mtdupdate.sh $ARGS;\
    fi;\
    '
