[Unit]
Description=Update NVMe drives %I

[Service]
Type=oneshot
RemainAfterExit=no
EnvironmentFile=/run/nvidia-nvme-update/%i.env
ExecStart=/usr/bin/nvme-fw-update ${FW_IMAGE} ${FW_VERSION} ${FW_PREFIX} $FW_TARGETS
ExecStopPost=-/bin/rm -f /run/nvidia-nvme-update/%i.env
