[Unit]
Description=Update vHMC

[Service]
Type=oneshot
RemainAfterExit=no
Environment="ARGS=%I"
ExecStart=/bin/sh -c '/usr/bin/vhmc_stage_v7.sh "%I"'
