[Unit]
Description=Update FPGA over JTAG by using VME player

[Service]
Type=oneshot
RemainAfterExit=no
Environment="ARGS=%I"
ExecStart=vme-player.sh $ARGS
