[Unit]
Description=NVIDIA IGX Orin QSPI version
After=nvidia-emmc-partition.service

[Service]
Restart=always
Type=dbus
ExecStart=/usr/bin/env igx-orin-version
SyslogIdentifier=igx-orin-version
BusName=com.Nvidia.ORIN

[Install]
WantedBy=multi-user.target

